<h1>Todos</h1>

<p>Simple Todo MVC built with .Net, Angular, and PSQL</p>
<p *ngIf="!todos"><em>Loading...</em></p>
<form>
  <input #myInput type="text">
  <button (click)="onClick(myInput.value)">Submit</button>
  </form>
  
<table class='table' *ngIf="todos">
    <thead>
        <tr>
            <th>Id</th>
            <th>Task</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{ todo.id }}</td>
            <td>{{ todo.task }}</td>
            <td>{{ todo.done ? 'complete' : 'incomplete' }}</td>
            <a (click)="onDelete(todo)">Delete</a>
        </tr>
    </tbody>
</table>
